<?php

use Eparts\PrecificacaoAvancada\Block\Modal;

/**
 * @var Modal $block ;
 */

$regionSelected = $block->showHeader();
?>

<?php if ($regionSelected): ?>
    <div id="header-regions">
        <div id="region-select-header">
            <span>Região Selecionada: <strong><?= $block->getRegionName() ?></strong></span>
            <button type="button" id="change-region">Mudar região</button>
        </div>
    </div>
<?php endif; ?>

<script>
    require(['jquery', 'Magento_Ui/js/modal/modal'], function ($, modal) {
        $('#change-region').click(function () {
            let modalContainer = $("#modal-regions");
            modalContainer.modal('openModal');
        })
    });
</script>
