<?php

use Eparts\PrecificacaoAvancada\Block\Modal;

/**
 * @var Modal $block ;
 */
?>

<?php if ($block->getRegions()): ?>
<div id="modal-content" style="display: none">
    <div id="modal-regions">
        <form id="formRegions" method="get" action="<?= $block->getFormUrl() ?>"
        <div class="control">
            <label>Selecionar região:</label>
            <select name="regions" id="regions">
                <option value="">-- Selecionar Região --</option>
                <?php foreach ($block->getRegions() as $region): ?>
                    <option value="<?= $region['value'] ?>">
                        <?= $region['label'] ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "modal_regions": {
                            "component": "Eparts_PrecificacaoAvancada/js/modal_regions",
                             "config": {
                                 "openPopup": "<?= $block->showPopup() ?>"
                            }
                        }
                     }
                }
            }
        }
</script>
<?php endif; ?>
