#header-regions {
    width: 100%;
    height: 60px;
    background: #e2e2e2;
    border-bottom: 1px solid #cccccc
}

#header-regions #region-select-header {
    margin: auto;
    width: 450px;
    padding-top: 17px;
}

#header-regions #region-select-header span,button {
    float: left;
    margin-left: 25px;
}

#header-regions #region-select-header button {
    background: none;
    border: none;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    padding: 0;
}
